@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&family=Roboto:wght@100&family=Source+Code+Pro:wght@200&family=Tilt+Neon&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&family=Roboto:wght@100&family=Source+Code+Pro:wght@200&family=Tilt+Neon&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&family=Roboto:wght@100&family=Source+Code+Pro:wght@200&family=Tilt+Neon&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&family=Roboto:wght@100&family=Source+Code+Pro:wght@200&family=Tilt+Neon&family=Varela+Round&display=swap");
@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
@keyframes logo {
  0% {
    transform: translate(0, -100vh);
  }
  50% {
    transform: translate(0, 3vh);
  }
  100% {
    transform: translate(0, 0vh);
  }
}
@keyframes logo_palpitar {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
/*Colores*/
/*
'Red Hat Display', sans-serif;

'Roboto', sans-serif;

'Source Code Pro', monospace;

'Tilt Neon', cursive;

'Varela Round', sans-serif;
*/
#loader {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
}
#loader .loader__element {
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, 0.2470588235);
  margin: 10px;
}
#loader .loader__element:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}
#loader .loader__element:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}
#loader .loader__element:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

/*Colores*/
/*
'Red Hat Display', sans-serif;

'Roboto', sans-serif;

'Source Code Pro', monospace;

'Tilt Neon', cursive;

'Varela Round', sans-serif;
*/
@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
@keyframes logo {
  0% {
    transform: translate(0, -100vh);
  }
  50% {
    transform: translate(0, 3vh);
  }
  100% {
    transform: translate(0, 0vh);
  }
}
@keyframes logo_palpitar {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
/*Colores*/
/*
'Red Hat Display', sans-serif;

'Roboto', sans-serif;

'Source Code Pro', monospace;

'Tilt Neon', cursive;

'Varela Round', sans-serif;
*/
html {
  --color-white: #ffffff;
  --color-black: #191919;
  --color-bg: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  --color-a: linear-gradient(to top, #1c7979 0%, #180332 100%);
  box-sizing: border-box;
}

.c-cursor {
  --size: 15px;
  position: fixed;
  width: var(--size);
  height: var(--size);
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
  pointer-events: none;
  transition: none;
  z-index: 15000;
  will-change: transform;
}
.is-debug .c-cursor {
  transition: all 0.2s ease-in-out;
}
.c-cursor__inner {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: var(--color-bg);
  border: 1px solid var(--color-white);
  transition: all 0.15s ease-in-out;
  opacity: 1;
  transform: scale(1) translateZ(0);
}
.c-cursor.is-clicked .c-cursor__inner {
  opacity: 0.5;
}
.c-cursor.is-hidden .c-cursor__inner {
  opacity: 0;
}
.c-cursor.is-link-hovered .c-cursor__inner {
  transform: scale(0.75) translateZ(0);
  background-image: var(--color-a);
}

.has-custom-cursor,
.has-custom-cursor * {
  cursor: none !important;
}

/*Colores*/
/*
'Red Hat Display', sans-serif;

'Roboto', sans-serif;

'Source Code Pro', monospace;

'Tilt Neon', cursive;

'Varela Round', sans-serif;
*/
body header {
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  padding: 1%;
  display: flex;
  position: fixed;
  margin-top: -21vh;
  transition: all 0.3s;
  z-index: 200;
}
body header a {
  width: 3rem;
}
body header a img {
  width: 100%;
  justify-content: flex-start;
}
body header .active1 {
  width: 90%;
  display: flex;
  justify-content: flex-start;
}
body header .active1 ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
body header .active1 ul li {
  display: flex;
  align-items: center;
  list-style: none;
}
body header .active1 ul li a {
  display: flex;
  text-decoration: none;
  color: #ffffff;
}
body header .active1 ul li a .icon {
  display: flex;
  font-size: 150%;
}
body header .active1 ul li a .icon_text {
  display: flex;
  align-items: center;
}
body header .active2 {
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
}
body header .active2 .navbar-brand {
  margin-top: 0;
  margin-left: 0;
  width: 0;
  z-index: -100;
}
body header .active2 .navbar-brand img {
  width: 0;
}
body header.abajo {
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.2470588235);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

@media screen and (max-width: 500px) {
  body header {
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
    height: 8vh;
    margin-top: -14vh;
    padding: 0;
    position: fixed;
    transition: all 0.5s;
    opacity: 100%;
    z-index: 100;
  }
  body header a {
    width: 0rem;
  }
  body header a img {
    width: 0%;
  }
  body header .active1 {
    width: 0%;
  }
  body header .active1 ul {
    width: 0%;
  }
  body header .active1 ul li a {
    font-size: 0;
  }
  body header .active1 ul li a .icon {
    font-size: 0%;
  }
  body header .active2 {
    opacity: 100%;
    width: 100%;
    height: 100%;
    font-size: 100%;
    background-color: rgba(255, 255, 255, 0) !important;
  }
  body header .active2 .navbar-brand {
    margin-top: -2%;
    margin-left: 0%;
    width: 13%;
    z-index: 10;
  }
  body header .active2 .navbar-brand img {
    width: 100%;
  }
  body header .active2 .navbar-toggler {
    margin-top: -2%;
    background-color: rgba(255, 255, 255, 0.2470588235);
  }
  body header.abajo {
    background-color: rgba(255, 255, 255, 0.2470588235);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #30cfd0;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Red Hat Display", sans-serif;
}
body #particles-js {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
body section {
  scroll-margin-top: 10rem;
  color: #ffffff;
  width: 20rem;
  height: 20rem;
  padding: 1%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.608);
  border-radius: 3%;
  z-index: 1;
}
body #wxp {
  margin-top: 10%;
}
body #wxp #cont {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body #wxp #cont div {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
body #wxp #cont div img {
  width: 100%;
  height: 100%;
}
body #Win7 #cont {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body #Win7 #cont div {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
body #Win7 #cont div img {
  width: 100%;
  height: 100%;
}
body #email #cont {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body #email #cont div {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
body #email #cont div img {
  width: 100%;
  height: 100%;
}
body #ip #cont {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body #ip #cont div {
  width: 100%;
  height: 100%;
  color: #ffffff;
}
body #files div {
  padding: 1%;
}
body #files div a {
  color: #ffffff;
  text-decoration: none;
}
body #aw div {
  padding: 1%;
  color: #ffffff;
}
body #cmd #cont {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body #cmd #cont div {
  width: 100%;
  height: 100%;
  color: #ffffff;
}
body footer {
  text-align: center;
  margin: 5%;
}
body footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}
body footer a .icon {
  font-size: 150%;
}

@media screen and (max-width: 500px) {
  body section {
    scroll-margin-top: 5rem;
    padding: 2%;
  }
  body #wxp {
    margin-top: 30%;
  }
}/*# sourceMappingURL=index.css.map */