/*Colores*/
$Rosa: #ffdcdc;
$Blanco: #ffffff;
$Negro: #0d0d0d;
$Gris: #bebebe;
$Transparente: rgba(255, 255, 255, 0);

$Primario: linear-gradient(to top, #30cfd0 0%, #330867 100%);
$Secundario: #ffffff3f;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&family=Roboto:wght@100&family=Source+Code+Pro:wght@200&family=Tilt+Neon&family=Varela+Round&display=swap');
$Letra: 'Red Hat Display', sans-serif;
/*
'Red Hat Display', sans-serif;

'Roboto', sans-serif;

'Source Code Pro', monospace;

'Tilt Neon', cursive;

'Varela Round', sans-serif;
*/