*{
  font-family: 'Rubik', sans-serif;
}
body {
  background-image: url("img/fondo.jpg");
  background-image: url("img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: 10000%;
}
.CMD1 {
  width: 25%;
  height: 33vh;
  padding: 2%;
  background-color: red;
  color: #fff;
  font-size: 1.1vw;
  border-radius: 5%;
  margin-top: 20%;
  margin-left: 5vw;
  float: left;
}
.CMD2 {
  width: 25%;
  height: 33vh;
  padding: 2%;
  background-color: red;
  color: #fff;
  font-size: 1.1vw;
  border-radius: 5%;
  margin-top: 2%;
  margin-left: -25vw;
  float: left;
}
@media screen and (max-width: 500px){
  .CMD1 {
    width: 80vw;
    height: 50vh;
    padding: 2%;
    background-color: red;
    color: #fff;
    font-size: 5vw;
    border-radius: 5%;
    margin-top: 5vh;
    margin-left: 10vw;
    float: left;
  }
  .CMD2 {
    width: 80vw;
    height: 50vh;
    padding: 2%;
    background-color: red;
    color: #fff;
    font-size: 5vw;
    border-radius: 5%;
    margin-top: 20vh;
    margin-left: 10vw;
    margin-bottom: 5%;
    float: left;
  }
}
