*{
  font-family: 'Rubik', sans-serif;
}
body {
  background-image: url("img/fondo.jpg");
  background-image: url("img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: 10000%;
}
.RED {
  width: 20%;
  height: 50vh;
  padding: 2%;
  background-color: red;
  color: #fff;
  font-size: 1.1vw;
  border-radius: 5%;
  margin-top: 5%;
  margin-left: 35vw;
  float: left;
  box-shadow: 2px 4px 15px 0px #000;
}
.img{
  position: fixed;
}