*{
  font-family: 'Rubik', sans-serif;
}
body {
  background-image: url("img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: 10000%;
}
.img{
  position: fixed;
}
b{
  font-size:2.5vw
}
a{
  font-size: 1.2vw;
  transition: all 0.5;
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #000;
  font-size: 1.7vw;
}
.W {
  color: #fff;
  font-size: 1.5vw;
}
.EXE {
  width: 23vw;
  height: 98vh;
  border-radius: 5%;
  padding: 1%;
  background-color: red;
  box-shadow: 0 0 10px rgba;
  margin-top: 0.5%;
  margin-left: 3.5%;
  float: left;
}
.DR {
  width: 23vw;
  height: 98vh;
  border-radius: 5%;
  padding: 1%;
  background-color: red;
  box-shadow: 0 0 10px rgba;
  margin-top: 0.5%;
  margin-left: 0.5%;
  float: left;
}
.SO {
  width: 23vw;
  height: 98vh;
  border-radius: 5%;
  padding: 1%;
  background-color: red;
  box-shadow: 0 0 10px rgba;
  margin-top: 0.5%;
  margin-left: 0.5%;
  float: left;
}
.PS {
  width: 23vw;
  height: 98vh;
  border-radius: 5%;
  padding: 1%;
  background-color: red;
  box-shadow: 0 0 10px rgba;
  margin-top: 0.5%;
  margin-left: 0.5%;
  float: left;
}
.DELL {
  margin-top: 40%;
  color: #fff;
  font-size: 1vw;
}
.HP {
  color: #fff;
  font-size: 1vw;
}
footer a{
  font-size: 1vw;
  text-decoration: none;
}
footer a:hover{
  font-size: 1vw;
  color: #000
}
@media screen and (max-width: 1152px) {
  .PS {
    width: 23vw;
    height: 98vh;
    font-size: 2.3vw;
  }
  .EXE {
    width: 23vw;
    height: 98vh;
    font-size: 2vw;
  }
  .DR {
    width: 23vw;
    height: 98vh;
  }
  .DR section ul {
    font-size: 3vw;
    margin-left: -10%;
  }
  .SO {
    width: 23vw;
    height: 98vh;
    font-size: 3vw;
  }
  .SO section ul a {
    font-size: 1.6vw;
    margin-left: -10%;
  }
  .T {
    font-size: 3vw;
  }
  b{
    font-size:2.5vw;
  }
  a{
    font-size: 1.2vw;
    transition: all 0.5;
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    color: #000;
    font-size: 1.7vw;
  }
  .W {
    color: #fff;
    font-size: 2vw;
  }
  .DELL {
    margin-top: 40%;
    color: #fff;
    font-size: 1.5vw;
  }
  .HP {
    color: #fff;
    font-size: 1.5vw;
  }
  footer a{
    font-size: 1.5vw;
    text-decoration: none;
  }
  footer a:hover{
    font-size: 1.5vw;
    color: #000
  }
}
@media screen and (max-width: 500px) {
  .PS {
    width: 95VW;
    height: 75VH;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .EXE {
    width: 95VW;
    height: 80VH;
    margin-left: 2%;
    margin-top: 2%;
  }
  .DR {
    width: 95VW;
    height: 50VH;
    margin-left: 2%;
    margin-top: 2%;
  }
  .SO {
    width: 95VW;
    height: 28VH;
    margin-left: 2%;
    margin-top: 2%;
  }
  b{
    font-size:8vw;
  }
  a{
    font-size: 3vw;
    transition: all 0.5;
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    color: #000;
    font-size: 5.7vw;
  }
  .W {
    color: #fff;
    font-size: 5.7vw;
  }
  .DELL {
    margin-top: 10%;
    color: #fff;
    font-size: 4vw;
  }
  .HP {
    color: #fff;
    font-size: 4vw;
  }
  footer a{
    font-size: 4vw;
    text-decoration: none;
  }
  footer a:hover{
    font-size: 4.1vw;
    color: #000
  }
}