*{
  font-family: 'Rubik', sans-serif;
}
body {
  background-image: url("img/fondo.jpg");
  background-image: url("img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: 10000%;
}
.OP {
  font-size: 3.5vh;
  margin-top: 5vh;
}
a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}
a:hover {
  color: #000;
}
.DQD {
  margin-top: 7vh;
  font-size: 5vh;
}
.fa-solid,
.fa-brands {
  margin-right: 1%;
}
.img{
  position: fixed;
}
@media screen and (max-width: 500px) {
  .DQD {
    margin-top: 10vh;
    font-size: 3vh;
  }
  .OP {
    font-size: 2.5vh;
    margin-top: 5vh;
  }
}
